.comment{
    height: 30px;
    display: flex;
    margin: 5px 10px 0 5px;
    h5{
        margin: 0;
        height: 100%;
        line-height: 20px;
    }
    p{
        vertical-align: middle;
        height: 30px;
        margin: 0 0 0 4px;
    }
}