.login-form{
    width: 200px;
    height: 150px;
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
    input{
        margin-top: 10px;
        width: 200px;
        height: 40px;
    }
    button{
        margin: 10px auto;
        width: 100px;
        height: 40px;
    }
}