.search-bar{
    display: flex;
    .logo-group{
        background-image: url('https://www.instagram.com/static/images/branding/logoWhiteoutLockup.png/3a62b1a95da3.png');
        background-size: 100%;
        height: 35px;
        width: 176px;
    }
}